<template>
    <v-app-bar image="https://img.freepik.com/free-vector/gradient-background-green-tones_23-2148373477.jpg"><v-app-bar-title class="font-weight-black text-h5" style="color: whitesmoke;">Bank Buddy</v-app-bar-title><v-spaer></v-spaer></v-app-bar>
</template>

<script setup lang="ts">
import { useTransactionStore } from '@/stores/transaction';

const transactionStore = useTransactionStore();

</script>