<template>
    <v-container class="ma-6">
        <v-row class="mb-6"><v-icon icon="mdi-cash-multiple" size="x-large" class="mr-6 mt-2 ml-3"></v-icon>
            <h1 class="font-weight-black text-h3">Transaction</h1>
        </v-row>
        <v-row class="mb-6"><v-icon class="mr-6 mt-2 ml-6"></v-icon>
            <h1>Balance : {{ transactionStore.userAccount?.balance }}</h1>
        </v-row>
        <v-row>
            <v-col cols="6">
                <v-select label="Action" v-model="transactionStore.editedSaveTransaction.type" :items="types"
                    variant="outlined"></v-select>
            </v-col>
        </v-row>
    </v-container>

    <v-card title="Transaction Details" subtitle="Please Ensure the Accuracy of All Provided Transaction Data"
        variant="outlined" style="width: 80%; margin: 0 auto;">
        <v-sheet style="width: 75%; margin: 0 auto;">
            <v-form @submit.prevent ref="form" v-model="valid">
                <v-row v-if="transactionStore.editedSaveTransaction.type === 'Transfer'">
                    <v-text-field label="Receiver Account ID" v-model="transactionStore.receiverAccountId" :rules="[
                        (v) => !!v || 'Receiver Account ID is required',
                        (v) => /^[A-Za-z0-9]{24}$/.test(v) || 'Receiver Account ID must be 24 characters long and contain only alphabetic and numeric characters'
                    ]" required class="my-4"></v-text-field>
                </v-row>
                <v-row>
                    <v-text-field label="Amount" v-model="transactionStore.editedSaveTransaction.amount" :rules="[
                        (v) => !!v || 'Amount value is required',
                        (v) => Number.isInteger(Number(v)) || 'Amount must be an integer',
                        (v) => v > 0 || 'Amount must be greater than 0',
                        (v) => /^(?!0\d+$)\d+$/.test(v) || 'Invalid amount format'
                    ]" required class="my-4"></v-text-field>
                </v-row>
            </v-form>
        </v-sheet>
        <v-card-actions>
            <v-btn class="add-btn" color="green" @click="proceed()">Proceed</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script setup lang="ts">
import { useAccountStore } from '@/stores/account';
import { useConfirmTransact } from '@/stores/confirmTransact';
import { useMessageStore } from '@/stores/message';
import { useTransactionStore } from '@/stores/transaction';
import { onMounted, ref, computed } from 'vue';
import type { VForm } from "vuetify/components";

const transactionStore = useTransactionStore();
const accountStore = useAccountStore();
const confirmStore = useConfirmTransact();
const messageStore = useMessageStore();
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);

const types = ref(['Transfer', 'Deposit', 'Withdraw']);

const proceed = async () => {
    await transactionStore.getCurrentUserBalance();
    const { valid } = await form.value!.validate();
    if (valid) {
        if ( transactionStore.currentUserBalance - transactionStore.editedSaveTransaction.amount >= 0) {
        const validAccount = await accountStore.checkAccountTransferValid(transactionStore.receiverAccountId);
        if (transactionStore.editedSaveTransaction.type == 'Transfer') {
            if (validAccount == 'valid') {
                confirmStore.dialog = true
            } else if (validAccount == 'repeat') {
                messageStore.showError("Receiver account ID is invalid", 'You cannot transfer funds to your own account');
            } else {
                messageStore.showError("Receiver account ID is invalid", 'Please ensure that all the details below are accurate');
            }
        } else {
            transactionStore.saveTransaction(); 
        }
    } else {
        messageStore.showError("Invalid transact amount", 'You cannot transact an amount exceeding your balance');
    }
}
};

</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
</style>