<template>
    <v-container class="ma-6">
        <v-row class="mb-6"><v-icon icon="mdi-history" size="x-large" class="mr-6 mt-2 ml-3"></v-icon>
            <h1 h1 class="font-weight-black text-h3">Transaction History</h1>
        </v-row>
        <v-row>
            <v-col cols="6"><v-select variant="outlined" v-model="selectedTypes" :items="types" label="View by"
                    persistent-hint></v-select></v-col>
        </v-row>
    </v-container>
    <v-table fixed-header height="300px">
        <thead>
            <tr>
                <th class="text-center text-h6 font-weight-bold">
                    <p style="font-family: 'Rubik', sans-serif">Datetime</p>
                </th>
                <th class="text-center text-h6 font-weight-bold">
                    <p style="font-family: 'Rubik', sans-serif">Receiver</p>
                </th>
                <th class="text-center text-h6 font-weight-bold">
                    <p style="font-family: 'Rubik', sans-serif">Remain</p>
                </th>
                <th class="text-center text-h6 font-weight-bold">
                    <p style="font-family: 'Rubik', sans-serif">Action</p>
                </th>
                <th class="text-center text-h6 font-weight-bold">
                    <p style="font-family: 'Rubik', sans-serif">Sender</p>
                </th>
                <th class="text-center text-h6 font-weight-bold">
                    <p style="font-family: 'Rubik', sans-serif">Amount</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in filteredTransactions" :key="generateKey(item._id!, index)">
                <td class="text-center">{{ formatTimestamp(new Date(item.timestamp)) }}</td>
                <td v-if="item.sender.username == user.username && selectedTypes == 'Receive'" class="text-center">{{ item.receiver.username }}</td>
                <td v-if="item.sender.username != user.username && selectedTypes == 'Receive'" class="text-center">You</td>
                <td v-if="item.receiver._id != authStore.userId && selectedTypes == 'Transfer'" class="text-center">{{ item.receiver.username }}</td>
                <td v-if="item.receiver._id == authStore.userId && selectedTypes == 'Transfer'" class="text-center">You</td>
                <td class="text-center">{{ item.remain }}</td>
                <td :class="getTextColorClass(item.type)" class="text-center">{{ item.type.toUpperCase() }}</td>
                <td v-if="item.sender.username != user.username && selectedTypes == 'Transfer'" class="text-center">{{ item.receiver.username }}</td>
                <td v-if="item.sender.username == user.username && selectedTypes == 'Transfer'" class="text-center">You</td>
                <td v-if="item.receiver._id == authStore.userId && selectedTypes == 'Receive'" class="text-center">{{ item.sender.username }}</td>
                <td v-if="item.receiver._id != authStore.userId && selectedTypes == 'Receive'" class="text-center">You</td>
                <td class="text-center">{{ item.amount }}</td>
            </tr>
        </tbody>
    </v-table>
</template>

<script setup lang="ts">
import router from '@/router';
import { useAuthStore } from '@/stores/auth';
import { useTransactionStore } from '@/stores/transaction';
import type User from '@/types/User';
import { onMounted, ref, computed } from 'vue';

const transactionStore = useTransactionStore();
const authStore = useAuthStore();

const types = ref(['Transfer', 'Receive']);
const selectedTypes = ref(['Transfer']);
const transferTypeSender = ref('Sender');
const transferTypeReceiver = ref('Receiver');

// eslint-disable-next-line vue/return-in-computed-property
const filteredTransactions = computed(() => {
    if (selectedTypes.value.length === 0) {
        return transactionStore.transactions;
    } else {
     if ( selectedTypes.value == 'Transfer' ) {   
            return transactionStore.transactions.filter(item => transferTypeSender.value.includes(item.side));
        }
        else if ( selectedTypes.value == 'Receive' ) {
            return transactionStore.transactions.filter(item => transferTypeReceiver.value.includes(item.side));
        }
    }
});


function generateKey(id: number, index: Number) {
    return `${id}-${index}`;
}

function getTextColorClass(type: String) {
    switch (type) {
        case 'Deposit':
            return 'text-green';
        case 'Withdraw':
            return 'text-red';
        case 'Transfer':
            return 'text-blue';
        default:
            return ''; // Return empty class if type is not recognized
    }
}

function formatTimestamp(date: Date) {
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    const hours = String(date.getHours()).padStart(2, '0');
    const minutes = String(date.getMinutes()).padStart(2, '0');
    const seconds = String(date.getSeconds()).padStart(2, '0');

    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
}

const user = ref<User>({
    username: ''
});

onMounted(async () => {
    await transactionStore.getTransactionsByUserId(authStore.userId);
    const userData = localStorage.getItem("user");
    if (userData) {
        const tempUser = JSON.parse(userData);
        user.value.username = tempUser.username;
    }
})
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

/* Style the entire table */
.transaction-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

/* Style text colors based on transaction type */
.text-green {
    color: green;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}
</style>