<template>
    <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false">
        <v-list-item
          prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
          :title="user.username"
            :subtitle="'Balance : ' +transactionStore.userAccount?.balance"
          nav
        >
          <template v-slot:append>
            <v-btn
              variant="text"
              icon="mdi-chevron-left"
              @click.stop="rail = !rail"
            ></v-btn>
          </template>
        </v-list-item>

        <v-divider></v-divider>

        <v-list>


            <!-- Menu Items -->
            <v-list-item prepend-icon="mdi-view-dashboard-outline" title="Project Overview" value="projectoverview"
                to="/"></v-list-item>
            <v-list-item prepend-icon="mdi-cash-multiple" title="Transaction" value="transaction"
                to="/transaction"></v-list-item>
            <v-list-item prepend-icon="mdi-history" title="Transaction History" value="transactionhistory"
                to="/transactionhistory"></v-list-item>
            <v-list-item prepend-icon="mdi-logout" title="Log out" value="logout" @click="loggout()"></v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { useAuthStore } from '@/stores/auth'
import type User from '@/types/User';
import { useTransactionStore } from '@/stores/transaction';

const rail = ref(true)
const drawer = ref(true)
const authStore = useAuthStore();
const transactionStore = useTransactionStore();

const user = ref<User>({
    username: ''
});

function loggout() {
    authStore.logout();
}


onMounted(() => {
  const userData = localStorage.getItem("user");
  if (userData) {
    const tempUser = JSON.parse(userData);
    user.value.username = tempUser.username;
  }
});
</script>