<template>
    <v-row justify="center">
        <v-dialog v-model="confirmStore.dialog" fullscreen :scrim="false" transition="dialog-bottom-transition">
            <v-card>
                <v-toolbar dark color="green">
                    <v-btn icon dark @click="confirmStore.dialog = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Transaction Details</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn variant="text" @click="confirmStore.dialog = false, proceed()">
                            Proceed
                        </v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-list lines="two" subheader>
                    <v-list-subheader>Please ensure that all the details below are accurate</v-list-subheader>
                    <v-list-item :title="accountStore.tempTransferAccount._id"
                        subtitle="Receiver account ID"></v-list-item>
                    <v-list-item :title="accountStore.tempTransferAccount.username"
                        subtitle="Receiver name"></v-list-item>
                        <v-list-item :title="transactionStore.editedSaveTransaction.amount"
                        subtitle="Transfer amounts"></v-list-item>
                </v-list>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script setup lang="ts">
import { useAccountStore } from '@/stores/account';
import { useConfirmTransact } from '@/stores/confirmTransact';
import { useTransactionStore } from '@/stores/transaction';

const transactionStore = useTransactionStore();
const accountStore = useAccountStore();
const confirmStore = useConfirmTransact();

const proceed = () => {
    transactionStore.saveTransaction(); 
};
</script>