<script lang="ts" setup>
import { useLoadingStore } from "@/stores/loading";

const loadingStore = useLoadingStore();
</script>
<template>
  <v-dialog v-model="loadingStore.isLoading" persistent width="auto">
    <v-card>
      <v-card-text class="text-center">
        <div>{{ loadingStore.message }}</div>
        <v-progress-circular
          class="ma-4"
          :size="50"
          :color="loadingStore.barColour"
          indeterminate
        ></v-progress-circular>
        <div v-if="loadingStore.showExtendedMessage">
          {{ loadingStore.extendedMessage }}
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
