<script setup lang="ts">
import WelcomeItem from './WelcomeItem.vue'
import DocumentationIcon from './icons/IconDocumentation.vue'
import ToolingIcon from './icons/IconTooling.vue'
import EcosystemIcon from './icons/IconEcosystem.vue'
import CommunityIcon from './icons/IconCommunity.vue'
import SupportIcon from './icons/IconSupport.vue'
</script>

<template>
  <WelcomeItem>
    <template #icon>
      <ToolingIcon />
    </template>
    <template #heading>Backend</template>
    <p> - Nodejs Framework ( NestJS )</p>
    <p> - NoSQL Database ( MongoDB Atlas )</p>
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <ToolingIcon />
    </template>
    <template #heading>Frontend</template>
    <p> - SPA ( Vue.js )</p>
    <p> - CSS Framework ( Vuetify 3 )</p>
  </WelcomeItem>

  <WelcomeItem>
    <template #icon>
      <ToolingIcon />
    </template>
    <template #heading>Tools</template>
    <p> - Visual Studio Code</p>
    <p> - Postman</p>
  </WelcomeItem>
</template>
