<script setup lang="ts">
import MainLayout from './layouts/MainLayout.vue'
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageBox from "./components/MessageBox.vue";
import OverlayLoader from "./components/OverlayLoader.vue";
import ConfirmTransactDialog from './components/ConfirmTransactDialog.vue';
</script>

<template>
    <MainLayout />
    <LoadingDialog />
    <OverlayLoader />
    <MessageBox />
    <ConfirmTransactDialog />
</template>

<style scoped>
</style>
