<script setup lang="ts">
import router from '@/router';
import { useAuthStore } from '@/stores/auth';
import { useTransactionStore } from '@/stores/transaction';

const transactionStore = useTransactionStore();
const authStore = useAuthStore();

authStore.getLocalUser();
    if (!authStore.userId) {
        router.replace("/login")
    }
    else {
        transactionStore.getAccountByOwnerId(authStore.userId);
    }
</script>

<template>
    <v-layout>
        <RouterView name="header"></RouterView>
        <RouterView name="menu"></RouterView>
        <v-main>
            <RouterView></RouterView>
        </v-main>
    </v-layout>
</template>